<div class="ui centered grid">
<%= link_to "新規投稿", new_job_path, class:"ui blue button" %>
  <div></div>
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  
    <div class="ui card">
    <div class="content">
      <div class="header">Cute Dog</div>
      <div class="meta">2 days ago</div>
      <div class="description">
        <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
        <p>Many people also have their own barometers for what makes a cute dog.</p>
      </div>
    </div>
    <div class="extra content">
      <i class="check icon"></i>
      121 Votes
    </div>
  </div>
  

  
  
  <div></div>
</div>

<div class="ui card">
  <div class="content">
    <div class="header">〇〇とのチャット</div>
  </div>
  <div class="content">
    <h4 class="ui sub header">Activity</h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Helen Troy</a> added two pictures
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
     <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
  </div>
</div>