<div class="ui fluid icon input">
  <input type="text" placeholder="Search a very wide input...">
</div>

<div class="ui fluid action input">
  <input type="text" placeholder="Search...">
</div>

<div class="ui fluid icon input">
  <input type="text" placeholder="Search a very wide input...">
</div>

<div class="ui fluid action input">
  <input type="text" placeholder="Search...">
</div>

<div class="ui fluid icon input">
  <input type="text" placeholder="Search a very wide input...">
</div>

<div class="ui fluid action input">
  <input type="text" placeholder="Search...">
</div>