<div class="ui segment">
  <p>a</p>
  <p>a</p>
  <p>a</p>
  <p>a</p>
</div>

<div class="ui segment">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
</div>

<div class="ui segment">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
</div>

<div class="ui segment">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
</div>